<div class="pesquisar m-0 p-0 d-flex align-items-center justify-content-center">

    <div class="encontre">
        <h3 class=" encontre text-center">Encontre um especialista</h3>

        <nav class="navbar navbar-light text-left justify-content-center">
            <form class="form-inline">
                <input name='search' id='search' class="form-control mr-sm-2" type="search"
                    placeholder="Busque por nome, especialidade..." aria-label="Search">
                <i class="fa fa-search" type="submit" aria-hidden="true"></i>
            </form>
        </nav>
    </div>

</div>  