<nav class="navbar navbar-expand-lg navbar-light pb-0 d-flex align-items-center">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand pl-4"><img class="logo" src="../../../assets/img/logoMental.png"></a>
  
    <div class="collapse navbar-collapse pneg mobile-c" id="navbarTogglerDemo03">
  
      <form class="navbar-nav w-100 pr-5 mr-2 justify-content-end">

        <a class="nav-link pt-0 pb-0" routerLink=''>INÍCIO</a>
        <a class="nav-link pt-0 pb-0" routerLink='/especialistas-listar'>ESPECIALISTAS</a>
        
      </form>
      
      <i class="fa fa-user"></i>
      <p  class="login" >Faça login ou <span> <a class="cadastrar">Cadastre-se</a></span></p>
      
    </div>
  </nav>

  